//
//  Release.xcconfig
//  Solply
//
//  Created by 김승원 on 2/24/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

NMFNcpKeyId = lxvzbd1xh9
KAKAO_NATIVE_APP_KEY = b26712ecc573c04ca8775f92f45a232e
BASE_URL = https:/$()/api.solply.store
AMPLITUDE_API_KEY = 57a30a026c29321c9812f02437a77cdf

X_Naver_Client_Id = figd7q1xTFGHzK9QO52H
X_Naver_Client_Secret = F1KPhrV_Kk

PRIVACY_POLICY_URL = https:/$()/rectangular-cream-d39.notion.site/29abbb00234d80d1945eeabe64711f28?source=copy_link
SERVICE_POLICY_URL = https:/$()/rectangular-cream-d39.notion.site/29abbb00234d80b59195ebc14477d86e?source=copy_link
CUSTOMER_CENTER_URL = https:/$()/tally.so/r/yPPZP6
